<% layout('layouts/boilerplate') -%>

<div class="row">
    <div class="col">
        <div class="card-body">
            <a class="text-dark" href="/ingredients/new">
                Agregar &nbsp;
                <i class="fas fa-plus-circle text-success"></i>
            </a>
        </div>
    </div>
</div>

<% include ../partials/paginateIngredients %>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col"></th>
        <th scope="col">Nombre</th>
        <th scope="col">Categoría</th>
        <th scope="col">Tipo de Procesado</th>
        <th scope="col">Categoría de Medida</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <% ingredients.docs.forEach(ingredient => { %>
        <tr>
            <td>
                <img src="<%= ingredient.image.secure_url %>" alt="<%= ingredient.title %>" width="50">
            </td>
            <td>
                <span><%= ingredient.title %></span>
            </td>
            <td>
                <% if (ingredient.categories) { %>
                    <ul>
                        <% ingredient.categories.forEach(category => { %>
                            <li><span><%= category.title %></span></li>
                        <% }); %>
                    </ul>
                <% } %>
            </td>
            <td>
                <% if (ingredient.processType) { %>
                    <span><%= ingredient.processType.title %></span>
                <% } %>
            </td>
            <td>
                <% if (ingredient.measurementCategory) { %>
                    <span><%= ingredient.measurementCategory.ingredient %></span>
                <% } %>
            </td>
            <td>
                <button class="btn btn-info">
                    <a class="text-white" href="/ingredients/<%= ingredient.id %>/edit"><i class="fas fa-edit"></i></a>
                </button>
            </td>
            <td>
                <form action="/ingredients/<%= ingredient.id %>?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                </form>
            </td>
        </tr>
    <% }); %>
    </tbody>
</table>