<% layout('layouts/boilerplate') -%>
<h1>Edit Recipe!</h1>

<%
    findWithAttr = function (array, value) {
        let i = 1;
        for (const ingredient of array) {
            if(ingredient['_id'] == value) {
                return i;
            }
        }
        return -1;
    }
 %>
<form action="/recipes/<%= recipe.id %>?_method=PUT" method="POST">
    <input type="text" name="title" placeholder="Title" value="<%= recipe.title %>">
    <select name="ingredients" id="ingredients" multiple>
        <% ingredients.forEach(ingredient => { %>
            <% if ( findWithAttr(recipe.ingredients, String(ingredient.id))  !== -1) { %>
                <option value="<%= ingredient.id %>" selected><%= ingredient.title %></option>
            <% } else { %>
                    <option value="<%= ingredient.id %>"><%= ingredient.title %></option>
            <% } %>
        <% }); %>
    </select>
    <textarea name="preparation" id="" cols="30" rows="10"><%= recipe.preparation %></textarea>
    <input type="submit" value="Update">
</form>
