<% layout('layouts/boilerplate') -%>
<%
 console.log(recipe);
 %>
<p><%= recipe.title %></p>
<p><b>Ingredientes:</b></p>
<ul>
<% recipe.ingredientsMeasurements.forEach(ingredientMeasurement => { %>
    <li>
        <span><%= ingredientMeasurement.weight %></span>
        <span>|</span>
        <span><%= ingredientMeasurement.measurement.title %></span>
        <span>|</span>
        <span><%= ingredientMeasurement.ingredient.title %></span>
    </li>
<% }); %>
</ul>
<p><%= recipe.preparation %></p>
<p><a href="/recipes">Go Home</a></p>
