<% layout('layouts/boilerplate') -%>
<p><%= recipe.title %></p>
<p><b>Ingredientes:</b></p>
<ul>
    <% recipe.ingredientsMeasurements.forEach(ingredientMeasurement => { %>
        <li>
            <span><%= ingredientMeasurement.weight %></span>
            <span>|</span>
            <span><%= ingredientMeasurement.measurement.displayName %></span>
            <span>|</span>
            <span><%= ingredientMeasurement.ingredient.title %></span>
            <% if (ingredientMeasurement.ingredientMeasurementConversion) { %>
<!--                <button type="button" class="btn btn-primary" >-->
<!--                </button>-->
                    <span data-toggle="modal" data-target="#staticBackdrop_<%= ingredientMeasurement.id %>"><i class="fas fa-eye text-info"></i></span>
                <div class="modal fade" id="staticBackdrop_<%= ingredientMeasurement.id %>" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Más Conversiones para <%= ingredientMeasurement.ingredient.title %></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Medida</th>
                                                        <th>Valor</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td><i class="fas fa-weight text-info fa-lg"></i> GRS</td>
                                                        <td><%= ingredientMeasurement.ingredientMeasurementConversion.grams %></td>
                                                    </tr>
                                                    <tr>
                                                        <td><i class="fas fa-prescription-bottle text-info fa-lg"></i> ML</td>
                                                        <td><%= ingredientMeasurement.ingredientMeasurementConversion.milliliters %></td>
                                                    </tr>
                                                    <tr>
                                                        <td><i class="fas fa-coffee text-info fa-lg"></i> TAZA</td>
                                                        <td><%= ingredientMeasurement.ingredientMeasurementConversion.cup %></td>
                                                    </tr>
                                                    <tr>
                                                        <td><i class="fas fa-weight-hanging text-info fa-lg"></i> LIB</td>
                                                        <td><%= ingredientMeasurement.ingredientMeasurementConversion.pound %></td>
                                                    </tr>
                                                    <tr>
                                                        <td><i class="fas fa-weight-hanging text-info fa-lg"></i> ONZA</td>
                                                        <td><%= ingredientMeasurement.ingredientMeasurementConversion.ounce %></td>
                                                    </tr>
                                                    <tr>
                                                        <td><i class="fas fa-utensil-spoon text-info fa-lg"></i> CDA</td>
                                                        <td><%= ingredientMeasurement.ingredientMeasurementConversion.tablespoon %></td>
                                                    </tr>
                                                    <tr>
                                                        <td><i class="fas fa-utensil-spoon text-info fa-sm"></i> CDITA</td>
                                                        <td><%= ingredientMeasurement.ingredientMeasurementConversion.teaspoonful %></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
<!--                                <button type="button" class="btn btn-primary">Understood</button>-->
                            </div>
                        </div>
                    </div>
                </div>

            <% } %>
        </li>
    <% }); %>
</ul>
<p><%= recipe.preparation %></p>
<p><a href="/recipes">Inicio</a></p>
